extends ../../layouts/default

block head
  - var pageTitle = 'Главная страница'

block content
  +layout
    +e.fixed
      +sidebar.__sidebar.hide-md
      +news.__news.hide-md

    +e.content
      +header
      +news.show-md
      +maps
      +footer

