mixin button(newTag)
  +b(newTag || 'a').button&attributes(attributes)
    +e.wrapper
      block

mixin ui-kit-button()
  +ui-section
    +ui-section-head
      +ui-title Кнопки
      +ui-path
        p Блок: blocks/button/button

    +ui-section-content()
      +ui-elements-list()
        +button()(href="#").__link
          span К проекту
          +icon('arrow')

        +button()._style_bold.__button
          span Сообщить о нарушении

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
