.socials {
  @include rule(display, (xl: block, md: flex));

  $b: &;

  &__link {
    text-align: center;
    display: block;
    color: color(basic);
    line-height: 35px;
    font-weight: 700;
    font-size: 14px;
    transition: color $ease-main;

    &:hover {
      color: color(main);
    }

    #{$b}_light & {
      color: white;
      transition: opacity $ease-main;

      &:hover {
        opacity: .5;
        color: white;
      }
    }

    &:not(:first-child) {
      @include rule(margin-top, (xl: 50px, md: 0));
      @include rule(margin-left, (md: 48px));
    }
  }
}
