mixin socials()
  +b.socials&attributes(attributes)
    each link in getData('socials')
      +e.A.link(href=link.link, target="_blank")!= link.text

mixin ui-kit-socials()
  +ui-section
    +ui-section-head
      +ui-title Социальные сети
      +ui-path
        p Блок: blocks/socials/socials

    +ui-section-content()
      +socials

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
