@import '../../node_modules/swiper/css/swiper.css';

.slider {
  position: relative;

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -12px -24px 56px;
    flex-wrap: wrap;
  }

  &__tab {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    transition: font-weight $ease-main, color $ease-main;
    margin: 12px 24px;

    &:hover {
      color: color(main);
    }

    &.is-active {
      font-weight: 700;
      pointer-events: none;
    }
  }

  &__dots {
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 31px -3px -3px;
  }

  &__dot {
    margin: 3px;
    width: 18px;
    height: 4px;
    border: none;
    border-radius: 100px;
    background: color(grey);
    display: inline-block;
    position: relative;
    transition: background $ease-main;
    pointer-events: all;
    cursor: pointer;
    box-sizing: border-box;

    &::before {
      content: '';
      position: absolute;
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
    }

    &.is-active {
      background: color(basic);
    }
  }
}
